div#myModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4.modal-title
            .modal-body
            .modal-footer
                button#continue.btn.btn-primary(type='button')
    script.

        var modalW = $('#myModal');

        function showModal(data) {
            if (!modalW.is(':visible')) modalW.modal();
        }

        function hideModal() {
            if (modalW.is(':visible')) modalW.modal('hide');
        }


