<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <style>
        body{
            width: 80%;
            margin: 0 auto;
            text-align: center;
            font-family: 'PT Sans',serif;
        }
    </style>
</head>
<body>
<h2>Любимые наши клиенты!</h2>
<p>Сегодня вынуждены отказать вам в приёме заказов.
Мы тщательно следим за условиями, в которых готовим еду и регулярно проводим уборку цехов.
А сегодня по плану в течении всего дня наши цеха будет проходить ещё более детальную санитарную обработку.
В дальнейшем постараемся подойти к этому процессу более гибко, чтобы не создавать неудобств для вас.</p>

<p>Мы прервали работу ровно на один день. Уже завтра готовы трудится для вас.</p>
</body>
</html>