doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(href="/public/client/app.css?timestamp=#{timestamp}", rel="stylesheet")
  body(class=designClass)
    div
      div(class='container')
        div(class='tab-body auth-form boxed')
          form(role='form', action='#{action}', method='POST')
            div
              div(class='form-group')
                input.form-control.input-lg(type='text', name='pass', placeholder='Пароль', tabindex='1')
                input.form-control.input-lg(type='text', name='confirmPass', placeholder='Подтвердите пароль', tabindex='2')
              input.btn.btn-primary.btn-block(type='submit', tabindex='3' value="Восстановить")


