doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(href="/public/orders/app.css?timestamp=#{timestamp}", rel="stylesheet")
  body
    #app-container
    iframe(style="display:none", src="http://sub.domain.com/iframe.html")

  script(src="/public/orders/vendor.js?timestamp=#{timestamp}")
  script(src="/public/orders/build.js?timestamp=#{timestamp}")

