doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(href="/public/orders/app.css", rel="stylesheet")
  body
    #app-container

  script(src="/public/orders/vendor.js")
  script(src="/public/orders/build.js")

