@import './../../node_modules/bootstrap/dist/css/bootstrap.min';
.form-register {
  margin-top: 125px;
}

@import 'ui_common';
@import 'ui_button';
@import 'ui_input';
@import 'ui_tabs';
@import 'ui_navigation';
@import 'ui_table';
@import 'ui_alert';
@import 'ui_block';
@import 'loader';
@import 'ui_pricing_box';

@import "auth";

body{
  font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #8e8071;
    font-size: 13px;
    position: relative;
    background: url(images/bg.jpg);
}


.list-group {
  list-style-type: none;
}

.text-center-pos {
  text-align: center;
}

#app-container {
  padding-top: 1px;
}

.text-danger {
  color: #BB2724;
}

.error-block {
  text-align: center;
  padding: 130px;
  background-color: rgba(232, 97, 58, 0.43);
}
