.alert {
    position: relative;
    margin-bottom: 25px;
    padding: 0;
    color: #1380CA;
    border: 1px solid #4EA5E0;
    border-left: 6px solid #4ea5e0;

  &.alert-warning {

    color: #c58811;
    border: 1px solid #F0AD4E;
    border-left: 6px solid #F0AD4E;

    .alert-body {
      color: #c58811;
    }
    .alert-label{
      background-position: center -58px;
    }
  }

  &.alert-error {

    color: #E63C3C;
    border: 1px solid #FF5C5C;
    border-left: 6px solid #FF5C5C;

    .alert-body {
      color: #E63C3C;
    }
    .alert-label{
      background-position: center -116px;
    }
  }

  &.alert-success {

    color: #76AF5C;
    border: 1px solid #82D85B;;
    border-left: 6px solid #82D85B;

    .alert-body {
      color: #76AF5C;
    }
    .alert-label{
      background-position: center -174px;
    }
  }

  .alert-body {
    padding: 23px 26px 24px 66px;
    color: #1380CA;

    span {
      display: inline-block;
      margin: 0;
      font-size: 17px;
      line-height: 23px;
      padding-right: 3px;
      font-weight: 600;
    }

    p {
      display: inline-block;
      margin: 0;
      font-size: 17px;
      line-height: 23px;
    }
  }

  .alert-label {
    position: absolute;
    top: 7px;
    left: -3px;
    z-index: 2;
    width: 54px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: center 0;
    margin: 0;
  }

  .close {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    float: none;
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    text-indent: 1200px;
  }
}