.block {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin-bottom: 30px;
  background: #fff;
  position: relative;
  z-index: 0;
}

.block-title {
  outline: 0 none;
  font-family: 'Open Sans', sans-serif;
  padding: 15px 44px;
}

.block-inner {
  padding: 0 44px 27px;
  outline: 0 none;
  font-family: 'Open Sans', sans-serif;
}

.field_text {
  float: left;
  margin-right: 2%;
  margin-bottom: 19px;
  width: 48%;
}

.row-footer {
  padding: 20px 44px;
  margin: 0px;

  .right {
    text-align: right;
    padding: 0px;
  }

  .left {
    text-align: left;
    padding: 0px;
  }

  .more {
    padding-bottom: 20px;
  }
}