input[type="text"], input[type="password"], input[type="email"], textarea, select {
    border: 1px solid #D6D1D1;
    border-radius: 0;
    padding: 0 16px;
    font-size: 16px;
    color: #8e8071;
    width: 100%;


  $activeColor: green;
  $darkenColor: darken($activeColor, 20%);

.checkbox {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  label {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    &:after {
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      top: 2px;
      left: 2px;
      background: $activeColor;
      background: linear-gradient(top, $activeColor 0%, $darkenColor 100%);
      box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
      opacity: 0;
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}

  &.invalid{
    border: 1px solid #E86741 !important;
  }
}

.input-label {
  padding: 10px;
}

.password-field{
  position: relative;

  i{
    position: absolute;
    right: 1px;
    top: 1px;
    padding: 15px;
    background-color: #fff;
  }
}

input {
  border-radius: 0;
}