@import './../../../node_modules/bootstrap/dist/css/bootstrap.min';
.form-register {
  margin-top: 125px;
}

.invalid {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}

.list-group {
  list-style-type: none;
}
