@import '../../../common/scss/app';
@import './vendors/datepicker';

.btn-submit {
    margin: 15px;
}

.product-form {
  margin-bottom: 10px;
}

.profile-list {
  list-style: none;
}

.profile-form {
  z-index: 10!important;
}

/*---------------------------for basket---------------------------*/


#basket {
    width: 150px;
    background-color: #FDFDFD;
    border: 1px solid #ccc;
}


#basket div.basket-picture {
  background: url("https://pixabay.com/static/uploads/photo/2015/10/22/16/42/icon-1001596_960_720.png") no-repeat no-repeat;
    text-align: center;
    background-size: 100%;
    width: 40%;
    height: 50px;
    display: inline-block;
}

#basket div.basket-quantity {
  display: inline-block;
    line-height: 50px;
    vertical-align: top;
    /* text-align: center; */
    height: 50px;
    width: 60%;
    padding-left: 15px;
}
