@mixin crossbrowser-gradient($color, $light-gradient: 90, $dark-gradient: 5) {

  background: -moz-linear-gradient(top, lighten($color, $light-gradient) 0%, $color 2%, darken($color, $dark-gradient) 100%);
  background: -webkit-linear-gradient(top, lighten($color, $light-gradient) 0%, $color 2%, darken($color, $dark-gradient) 100%);
  background: -o-linear-gradient(top, lighten($color, $light-gradient) 0%, $color 2%, darken($color, $dark-gradient) 100%);
  background: -ms-linear-gradient(top, lighten($color, $light-gradient) 0%, $color 2%, darken($color, $dark-gradient) 100%);

}

@mixin button-color($color, $text-color: #fff){
   -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 1px 2px 5px rgba(154, 125, 108, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 1px 2px 5px rgba(154, 125, 108, 0.6);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 1px 2px 5px rgba(154, 125, 108, 0.6);
  color: $text-color!important;
  background: $color;
  border: 1px solid darken($color, 15);
  @include crossbrowser-gradient($color);

  &:active, &:focus {
    -webkit-box-shadow: inset 0 1px 3px rgba(96, 96, 96, 0.6);
    -moz-box-shadow: inset 0 1px 3px rgba(96, 96, 96, 0.6);
    box-shadow: inset 0 1px 3px rgba(96, 96, 96, 0.6);
    background: -moz-linear-gradient(top, darken($color, 5) 0%, $color 100%);
    background: -webkit-linear-gradient(top, darken($color, 5) 0%, $color 100%);
    background: -o-linear-gradient(top, darken($color, 5) 0%, $color 100%);
    background: -ms-linear-gradient(top, darken($color, 5) 0%, $color 100%);
  }

  &:hover{
     -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 1px 2px 5px rgba(154, 125, 108, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 1px 2px 5px rgba(154, 125, 108, 0.6);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 1px 2px 5px rgba(154, 125, 108, 0.6);
  color: $text-color!important;
  background: $color;
  border: 1px solid darken($color, 15);
  @include crossbrowser-gradient($color);
  }

}

@mixin button-size($padding: 0 25px, $line-height: 41px) {

  display: inline-block;
  outline: 0 !important;
  line-height: $line-height;
  padding: $padding;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  text-shadow: none;

}

.btn {
  @include button-color(#E96A46);
  @include button-size();
}

.btn-default{
  @include button-color(rgb(89, 139, 170));
  @include button-size();
}

.btn-action{
  @include button-size(0 5px, 23px);
  font-size: 12px;
}

.btn-action-big{
  @include button-size(0 10px, 31px);
  font-size: 12px;
}

.btn-danger{
  @include button-color(#E96A46);
}