.form-ui{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
  -moz-box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
  box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
  margin-bottom: 30px;
  position: relative;
  z-index: 0;
  padding: 15px;
  background-color: #f8f8f8;

  label{
        display: block;
    color: #8e8071;
    font-size: 17px;
    cursor: default;
    margin-bottom: 8px;
    font-weight: 300;
  }
}