.tabs{

  padding: 0;
  list-style: none;
  position: relative;
  z-index: 5;

  li{
    float: left;
    text-align: center;
    height: 48px;
    line-height: 48px;
    position: relative;
    margin-right: 5px;
    margin-top: 5px;

    border-radius: 5px 5px 0 0;

    padding: 0 16px;
    min-width: 100px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;

    &.active{
      background: #FFFFFF;
      -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-box-shadow: 0 8px 12px rgba(58, 51, 46, 0.26);
  -moz-box-shadow: 0 8px 12px rgba(58, 51, 46, 0.26);
  box-shadow: 0 8px 12px rgba(58, 51, 46, 0.26);
    }
  }
}

.tab-body{
  top:-15px;

  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 8px 12px rgba(58, 51, 46, 0.26);
  -moz-box-shadow: 0 8px 12px rgba(58, 51, 46, 0.26);
  box-shadow: 0 8px 12px rgba(58, 51, 46, 0.26);
  margin-bottom: 30px;
  position: relative;
  z-index: 5;
  padding: 15px;
}